

<?php include_once("header.php"); ?>



<div class="inner-header">
  <div class="ed_img_overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
          <div class="inner-header-text">
          <h2>Contact Us</h2>
          </div>
         </div>
      
      
    </div>
  </div>
</div>
<div class="main-contact tnb animatedParent" id="contactus">
  <div class="container">
		<div class="row">
<div class="col-md-12 col-lg-12">
				
				<div class="row" id="marginbtm">

                   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                   
                </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    	<div class="bgcolorc">
                        <h4 class="addHeader mb-3"><i class="fa fa-envelope-o" aria-hidden="true"></i></h4>
                        
                        <p class="muli_light mb-1"><a href="mailto:info@horizonpower.co.in" class="text-lowercase">info@horizonpower.co.in</a></p>
                       
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    
                </div>
                
				

</div>


			</div><!-- col 6 -->
		</div>
		

	

	</div>

</div>



	<!--<div class="map animatedParent">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12  mnp">
				<div class="map-text animated fadeInDownShort go">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.04804627161!2d77.21463297519264!3d28.628322075667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd4a05c46685%3A0x32a8ab13a24d59df!2sDLF%20Building%2C%20Annexe%20Building%2C%20Sansad%20Marg%2C%20Janpath%2C%20Connaught%20Place%2C%20New%20Delhi%2C%20Delhi%20110001!5e0!3m2!1sen!2sin!4v1687610161488!5m2!1sen!2sin" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>-->


    <?php include_once("footer.php"); ?>

